<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory name ="ToDoSessionFactory">
    <property name="connection.provider">
      NHibernate.Connection.DriverConnectionProvider
    </property>
    <property name="dialect">
      NHibernate.Dialect.PostgreSQLDialect
    </property>
    <property name="connection.driver_class">
      NHibernate.Driver.NpgsqlDriver
    </property>
    <property name="current_session_context_class">
      NHibernate.Context.WebSessionContext
    </property>

    <property name="hbm2ddl.keywords">none</property>
    <property name="adonet.batch_size">20</property>
    <property name="show_sql">true</property>
    <property name="use_sql_comments">false</property>
    <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
  </session-factory>
</hibernate-configuration>
